<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTTulfIN07XLpScih3hn-WpeKQnXiUJ8s</string>
	<key>GCM_SENDER_ID</key>
	<string>715814899425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.colortaxi.ios</string>
	<key>PROJECT_ID</key>
	<string>colortaxi-customer</string>
	<key>STORAGE_BUCKET</key>
	<string>colortaxi-customer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715814899425:ios:1336b5139326ab7e4f31a0</string>
</dict>
</plist>